canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  
}

.mapboxgl-popup-content {
  padding: 10px !important;
  
}

body{

  background-image: url("./car-1149997_1920.jpg");
  
}


.MuiButton-containedPrimary { 
  color: #fff;
  background-color: #ff9700 !important;

}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #ff9700 !important;

}
.MuiButton-contained.Mui-disabled {
  color: #fff !important;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
}
